<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitu.hotel.mapper.AdminUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yitu.hotel.entity.adminUser.AdminUser">
        <id column="id" property="id" />
        <result column="mobile" property="mobile" />
        <result column="passwd" property="passwd" />
        <result column="user_name" property="userName" />
        <result column="role_type" property="roleType" />
        <result column="add_date" property="addDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="login_date" property="loginDate" />
        <result column="deleted" property="deleted" />
        <result column="area_type" property="areaType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mobile, passwd, user_name, role_type, add_date, modify_date, login_date, deleted, area_type
    </sql>

</mapper>
