<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitu.hotel.mapper.HotelDayStatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yitu.hotel.model.entity.HotelDayStat">
        <id column="id" property="id" />
        <result column="hotel_id" property="hotelId" />
        <result column="stat_date" property="statDate" />
        <result column="hotel_name" property="hotelName" />
        <result column="address" property="address" />
        <result column="district" property="district" />
        <result column="street" property="street" />
        <result column="house1_total_count" property="house1TotalCount" />
        <result column="house1_show_count" property="house1ShowCount" />
        <result column="house1_count" property="house1Count" />
        <result column="house1_control_count" property="house1ControlCount" />
        <result column="house1_price" property="house1Price" />
        <result column="house1_remark" property="house1Remark" />
        <result column="house2_total_count" property="house2TotalCount" />
        <result column="house2_show_count" property="house2ShowCount" />
        <result column="house2_count" property="house2Count" />
        <result column="house2_control_count" property="house2ControlCount" />
        <result column="house2_price" property="house2Price" />
        <result column="house2_remark" property="house2Remark" />
        <result column="house3_total_count" property="house3TotalCount" />
        <result column="house3_show_count" property="house3ShowCount" />
        <result column="house3_count" property="house3Count" />
        <result column="house3_control_count" property="house3ControlCount" />
        <result column="occupancy_today" property="occupancyToday" />
        <result column="check_out_today" property="checkOutToday" />
        <result column="house3_price" property="house3Price" />
        <result column="house3_remark" property="house3Remark" />
        <result column="add_date" property="addDate" />
        <result column="notshow" property="notshow" />
        <result column="area_type" property="areaType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hotel_id, stat_date, hotel_name, address, district, street, house1_total_count, house1_show_count, house1_count, house1_control_count, house1_price, house1_remark, house2_total_count, house2_show_count, house2_count, house2_control_count, house2_price, house2_remark, house3_total_count, house3_show_count, house3_count, house3_control_count, occupancy_today, check_out_today, house3_price, house3_remark, add_date, notshow, area_type
    </sql>

</mapper>
