<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitu.hotel.mapper.HotelLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yitu.hotel.entity.hotel.HotelLog">
        <id column="id" property="id" />
        <result column="hotel_id" property="hotelId" />
        <result column="log_date" property="logDate" />
        <result column="house1_count" property="house1Count" />
        <result column="house2_count" property="house2Count" />
        <result column="house3_count" property="house3Count" />
        <result column="remark" property="remark" />
        <result column="is_fill" property="isFill" />
        <result column="occupancy_today" property="occupancyToday" />
        <result column="check_out_today" property="checkOutToday" />
        <result column="is_house_fill" property="isHouseFill" />
        <result column="is_people_fill" property="isPeopleFill" />
        <result column="control_number" property="controlNumber" />
        <result column="add_date" property="addDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hotel_id, log_date, house1_count, house2_count, house3_count, remark, is_fill, occupancy_today, check_out_today, is_house_fill, is_people_fill, control_number, add_date
    </sql>

</mapper>
